/* Import Lato font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Apply Lato font to all elements */
* {
    font-family: 'Lato', sans-serif;
}

.header-logo {
    width: 50px;
}

a:hover {
    cursor: pointer;
    color: #7bf1a8;
}

a {
    color: #b0b0b0;
}


